<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    # Console appender
    <Console name="stdout" target="SYSTEM_OUT">
      # Pattern of log message for console appender
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
    </Console>

    # File appender
    <File append="false" fileName="log4j/target/baeldung-log4j2.log"
      immediateFlush="false" name="fout">
      # Pattern of log message for file appender
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %p %m%n"/>
    </File>

    # Rolling appender
    <RollingFile fileName="target/log4j2/roll-by-size/app.log"
      filePattern="target/log4j2/roll-by-size/app.%i.log.gz"
      ignoreExceptions="false"
      name="roll-by-size">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy
          size="5 KB"/>
      </Policies>
    </RollingFile>

    <RollingFile fileName="target/log4j2/roll-by-time/app.log"
      filePattern="target/log4j2/roll-by-time/app.%d{MM-dd-yyyy-HH-mm}.log.gz"
      ignoreExceptions="false"
      name="roll-by-time">
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
      </PatternLayout>
      <TimeBasedTriggeringPolicy/>
    </RollingFile>

    <RollingFile fileName="target/log4j2/roll-by-time-and-size/app.log"
      filePattern="target/log4j2/roll-by-time-and-size/app.%d{MM-dd-yyyy-HH-mm}.%i.log.gz"
      ignoreExceptions="false"
      name="roll-by-time-and-size">
      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}" maxDepth="2">
          <IfFileName
            glob="target/log4j2/roll-by-time-and-size/app.*.log.gz"/>
          <IfLastModified age="20s"/>
        </Delete>
      </DefaultRolloverStrategy>
      <PatternLayout>
        <Pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <OnStartupTriggeringPolicy/>
        <SizeBasedTriggeringPolicy
          size="5 KB"/>
        <TimeBasedTriggeringPolicy/>
      </Policies>
    </RollingFile>
  </Appenders>

  <Loggers>
    # Override log level for specified package
    <AsyncRoot level="DEBUG">
      <AppenderRef ref="stdout"/>
      <AppenderRef ref="fout"/>
    </AsyncRoot>

    <Logger level="TRACE"
      name="com.baeldung.log4j2.Log4j2RollingExample">
      <AppenderRef ref="roll-by-size"/>
      <AppenderRef ref="roll-by-time"/>
      <AppenderRef ref="roll-by-time-and-size"/>
    </Logger>

    <Logger level="TRACE" name="com.baeldung.log4j2"/>
  </Loggers>
</Configuration>
